In [96]:
!pip install matplotlib seaborn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Optional: to display plots inline in the notebook
%matplotlib inline

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (3.9.4)
Requirement already satisfied: seaborn in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (11.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from matplotlib) (6.5.2)
Requirement already satisfied: pandas>=1.2 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: zipp>=3.1.0 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.21.0)
Requirement already satisfied: pytz>=2020.1 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/ishamkhan/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)

In [97]:
# 1) Load the CSV:
df = pd.read_csv('data/spotify-2023 2.csv')

  # Adjust path if needed

# 2) Check first 5 rows:
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [98]:
# Total missing values
print("Missing values per column:\n", df.isnull().sum())

# Percentage of missing data
nan_percent = df.isnull().mean() * 100
print("\nPercentage of missing values:\n", nan_percent)

Missing values per column:
 track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

Percentage of missing values:
 track_name              0.00000
artist(s)_name          0.00000
artist_count            0.00000
released_year           0.00000
released_month          0.00000
released_day            0.00000
in_spotify_playlists    0.00000
in_spotify_charts       0.00000
streams                 0.00000
in_apple_playlists      0.00000
in_apple_charts         0.00000
in_deezer_playlists     0.00000
in_deezer_charts        0.00000
in_shazam_charts        5.24659
bpm                     0.00000
key                     9.96852
mode                    0.00000
danceability_%          0.00000
valence_%               0.00000
energy_%                0.00000
acousticness_%          0.00000
instrumentalness_%      0.00000
liveness_%              0.00000
speechiness_%           0.00000
dtype: float64

In [99]:
# Check the data type
print("Data type of in_shazam_charts:", df['in_shazam_charts'].dtype)

# Look at unique values
print("\nUnique values in in_shazam_charts:")
print(df['in_shazam_charts'].unique())

Data type of in_shazam_charts: object

Unique values in in_shazam_charts:
['826' '382' '949' '548' '425' '946' '418' '194' '953' '339' '251' '168'
 '1,021' '1,281' nan '187' '0' '1,173' '29' '150' '73' '139' '1,093' '96'
 '211' '325' '294' '197' '27' '310' '354' '184' '212' '81' '82' '100' '62'
 '69' '727' '311' '1,133' '102' '332' '259' '140' '16' '110' '810' '176'
 '615' '210' '216' '215' '167' '37' '171' '272' '529' '26' '5' '169' '230'
 '84' '154' '93' '115' '72' '8' '323' '49' '1,451' '1,170' '429' '162'
 '10' '478' '236' '200' '78' '266' '486' '204' '34' '202' '312' '32' '153'
 '519' '458' '48' '666' '14' '925' '88' '203' '44' '74' '638' '64' '71'
 '2' '3' '136' '148' '22' '368' '1' '189' '52' '9' '31' '66' '208' '28'
 '558' '195' '13' '60' '503' '56' '15' '454' '40' '285' '129' '58' '117'
 '47' '20' '30' '80' '263' '116' '57' '39' '111' '7' '166' '19' '99' '51'
 '109' '42' '33' '675' '348' '36' '240' '113' '6' '23' '4' '182' '54'
 '438' '11' '17' '50' '320' '55' '18' '38' '43' '105' '24' '63' '444' '85'
 '21' '165' '103' '734' '61' '221' '59' '451' '41' '192' '124' '25' '35'
 '46' '12' '75' '45' '77' '160' '120' '121' '70' '206' '114' '128' '353'
 '101' '141' '198' '68' '95']

In [100]:
# Remove commas and convert to numeric
df['in_shazam_charts'] = df['in_shazam_charts'].str.replace(',', '')
df['in_shazam_charts'] = pd.to_numeric(df['in_shazam_charts'], errors='coerce')

# Fill NaNs with the median
df['in_shazam_charts'] = df['in_shazam_charts'].fillna(df['in_shazam_charts'].median())

In [101]:
print(df['in_shazam_charts'].dtype)
print(df['in_shazam_charts'].isnull().sum())

float64
0

In [102]:
# Drop any rows where *all* columns are NaN
df = df.dropna(how='all')
df.shape  # should show fewer rows now
df.tail()  # confirm no all-NaN rows remain

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
948,My Mind & Me,Selena Gomez,1,2022,11,3,953,0,91473363,61,...,144,A,Major,60,24,39,57,0,8,3
949,Bigger Than The Whole Sky,Taylor Swift,1,2022,10,21,1180,0,121871870,4,...,166,F#,Major,42,7,24,83,1,12,6
950,A Veces (feat. Feid),"Feid, Paulo Londra",2,2022,11,3,573,0,73513683,2,...,92,C#,Major,80,81,67,4,0,8,6
951,En La De Ella,"Feid, Sech, Jhayco",3,2022,10,20,1320,0,133895612,29,...,97,C#,Major,82,67,77,8,0,12,5
952,Alone,Burna Boy,1,2022,11,4,782,2,96007391,27,...,90,E,Minor,61,32,67,15,0,11,5

In [103]:
# Find any row where 'streams' has that weird string pattern
df[df['streams'].astype(str).str.contains('BPM', na=False)]

df = df.drop(index=574)
df[df['streams'].astype(str).str.contains('BPM', na=False)]

df['streams'] = pd.to_numeric(df['streams'], errors='coerce')

In [104]:
# Drop any row where any column contains the string 'BPM'
df = df[~df.astype(str).apply(lambda row: row.str.contains('BPM', na=False)).any(axis=1)]
# This should return 0 rows
df[df.astype(str).apply(lambda row: row.str.contains('BPM', na=False)).any(axis=1)]
df['streams'] = pd.to_numeric(df['streams'], errors='coerce')

In [105]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['streams_normalized'] = scaler.fit_transform(df[['streams']])

In [106]:
df[['streams', 'streams_normalized']].head(10)

     streams  streams_normalized
0  141381703            0.038170
1  133716286            0.036101
2  140003974            0.037798
3  800840817            0.216215
4  303236322            0.081869
5  183706234            0.049597
6  725980112            0.196004
7   58149378            0.015699
8   95217315            0.025707
9  553634067            0.149473